* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    border: 2px solid #054687;
    border-radius: 12px;
    background-color: #054687;
}

header nav{
    display: inline-block;
}

header h1{
    color: #e0e0e0;
    margin-bottom: 15px;
}

h2 {
    padding-left: 10px;
    border-left: 4px solid #054687;
}

header p{
    text-align: center;
    color: #e0e0e0;
}

nav ul {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 10px 0;
}

nav li{
    display: inline-block;
    margin: 0 10px;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 4px;
}

#sobreMi{
    display: flex;
    gap: 1rem;
    margin: 15px 0;
}

.contenedor_foto_perfil{
    display:flex ;
    align-items: center; 
    justify-content: center;
}

#sobreMi img{
    width: 60%;
    flex: 0 0 30%;
}

.contenedor_sobreMi{
    flex: 0 0 70%;
}

.contenedor_foto_espol{
    padding: 5px 23%;
}

section {
    margin: 4px 2px 8px 2px;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label{
    margin: 10px 0;
}

form input{
    width: 200px;
    margin: 0 auto;
}

form select{
    width: 300px;
    margin: 0 auto;
}

form button{
    margin: 20px auto;
    width: 70px;
}

.contenedor-video{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor_contacto{
    display: flex;
    gap: 20px;
}

.contenedor_formulario{
    text-align: center;
    flex: 0 0 50% 
}

#contacto form{
     border: 2px solid #054687;
     border-radius: 10px;
     width: 70%;
     margin-left: 110px;
     margin-top: 30px;
     height: 70%;
}

.contenedor_mapa{
    flex: 0 0 50%;
}

footer{
    display: flex;
    background-color: aliceblue;
}

footer ul {
    text-align: center;
    color: #2c3e50;
}

footer li{
    display: inline-block;
    margin: 0 10px;
}

.titulo_experiencia{
    margin-left: 45px;
}

.contenedor_ayudante{
    margin-bottom: 40px;
    margin-left: 45px;
    padding-left: 15px;
    border-left: 3px solid #cadbeb;
}

#proyectos a {
  color: #0ea5e9; /* Azul celeste elegante */
  text-decoration: none;
  transition: color 0.3s ease;
}

#proyectos a:hover {
  color: #06b6d4; /* Turquesa al pasar el mouse */
}
