* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header h1{
    text-align: center;
    color: #054687;
    border-radius: 5px;
    margin: 10px 0;
    background-color: #60a0df;
}

h2 {
    padding-left: 10px;
    border-left: 4px solid #054687;
}

header p{
    text-align: center;
}

nav ul {
    text-align: center;
    color: #2c3e50;
}

nav li{
    display: inline-block;
    margin: 0 10px;
}

nav a{
    text-decoration: none;
    color: #2a9ae5;
}

section {
    margin: 4px 2px 8px 2px;
}

form{
    display: flex;
    flex-direction: column;
}

form label{
    margin: 10px 0;
}

form input{
    width: 200px;
}

form select{
    width: 300px;
}

form button{
    margin: 15px 30px;
    width: 70px;
}

.contenedor-video{
    display: flex;
    align-items: center;
    justify-content: center;
}
